<div class="palm-list">

	<div class="palm-row last">
		<div class="palm-row-wrapper">
			<div class="palm-group">
				<div class="palm-group-title">
					Units
				</div>
				<div class="palm-list">
					<div class='palm-row single'>
						<div class='palm-row-wrapper'>
							<div x-mojo-element="ToggleButton" id="toggleTemp"></div>
							<div class='title'>Temperature</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="palm-row last">
		<div class="palm-row-wrapper">
    		<div id="types-list" x-mojo-element='List'></div>  
		</div>
	</div>

</div>