<div class="palm-list">

	<div class="palm-row first">
		<div class="palm-row-wrapper textfield-group">
			<div class="title">New Steeping</div>
		</div>
	</div>
	
	<div class="palm-row">
		<div class="palm-row-wrapper">
      		<div class="title" style="padding:10px 15px 15px 15px;">
      			<div x-mojo-element="IntegerPicker" id="minPicker"></div>
      			<div x-mojo-element="IntegerPicker" id="secPicker"></div>
      			<div style="clear:both;"></div>
      		</div>
		</div>
	</div>
	
	<div class="palm-row last">
		<div class="palm-row-wrapper">
      		<div class="title">
      			<div x-mojo-element="IntegerPicker" id="tempPicker" class="teaTemp left"></div>
      		</div>
		</div>
	</div>

</div>